.app-layout {
  height: 100vh;
  background-color: lightgrey;

  display: grid;
  grid-template-columns: auto minmax(min-content, 1024px) auto;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    ". body .";
  grid-gap: 10px;
}

.app-layout__navbar {
  grid-area: navbar;
}

.app-layout__body {
  grid-area: body;
}
